<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working at
      <a class="underline-link" href="https://www.rockstargames.com/" target="_blank">Rockstar Games</a> as an AI / Gameplay Programmer. I graduated from
      <a class="underline-link" href="http://www.cs.colby.edu/" target="_blank">Colby College</a> in May 2022 and have completed two amazing internships at
      <a class="underline-link" href="https://medrhythms.com/" target="_blank">MedRhythms, Inc</a>.
    </p>

    <p>
      As a game developer, I am leveraging my passion for writing code and engineering to bring invaluable experiences and stories to gamers around the globe.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm likely dominating fantasy football leagues, forming strong opinions of movies with absolutely no qualification or education
      to do so, or ordering a sugar-free vanilla coffee at a local cafe.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
